<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/navBar') %>
            <div class="item-detail-container">
                <h1>Category Details</h1>
                <div class="item-detail">
                    <div class="imageContainer">
                        <img src="/assets/category-v2.svg" alt="category icon">
                    </div>
                    <h3>
                        <%= category.name %>
                    </h3>
                    <p>
                        <%= category.description %>
                    </p>
                    <div class="item-actions">
                        <a href="/categories/update/<%= category.id %>" class="btn btn-update">Update</a>
                        <a href="/categories/delete/<%= category.id %>" class="btn btn-delete"
                            onclick="return confirm('Are you sure you want to delete this category?')">Delete</a>
                    </div>
                </div>
            </div>

    </body>

</html>